/* #about-container {
	width: 50%;
	margin: 0 auto;
	position: absolute;
} */

#tech-header {
	font-family: "BebasNeue-Bold";
	font-size: 50pt;
}

/* #background {
	background-color: rgb(254, 254, 254);
} */

/* .container {
	border-bottom: 1px solid #f1f1f1;
    padding: 5.5em 0;
    background: #f8f8f8;
	text-align: center;
	position: relative;
	height: 460px;
} */


#profile-pic {
	width: 60vh;
	margin-left: 50vw;
	margin-top: 2vh;
	border-radius: 20px;
	overflow: hidden;
}

#description {
	font-size: 1rem;
	line-height: 2rem;
	justify-content: start;
	overflow: hidden;
}