.container {
	border-bottom: 1px solid #f1f1f1;
    padding: 5.5em 0;
    background: #f8f8f8;
	text-align: center;
	position: relative;
	height: 460px;
}

.page-wrap {
	margin: 0 auto;
    width: 75%;
    max-width: 1600px;
}

img {
	float: left;
	width: 25%;
	/* border-radius: 50%; */
	
}

#header {
	font-size: 4rem;
	text-transform: uppercase;
	width: 100%;
}

#description {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	line-height: 2rem;
	justify-content: start
}