body {
 color: rgb(139, 212, 212);
}

.column {
float: left;
width: 50%;
}

.row {
	padding-top: 50px;
    padding-right: 100px;
    padding-left: 30px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

@media screen and (max-width: 500px) {
	.column {
	  width: 100%;
	}
  }