
/* 
article {
	padding-top: 50px;
    padding-right: 100px;
    padding-left: 30px;
}

article::after {
	content: "";
	clear: both;
	display: table;
}

@media screen and (max-width: 500px) {
	.article {
	  width: 100%;
	}
  } */