.container {
	margin-left: 15%;
    box-sizing: content-box;
    width: 72%;
    padding: 20px;
    left: 47%;
}

img {
	float: left;
	width: 20%;
	padding-right: 40px;
}

#title {
	font-size: 4rem;
	margin-left: 35%;

}

#description {
	font-size: 1rem;
}