.navbar {
	width: 30%;
	height: 100vh;
	background-color: rgb(255,239,239);
	text-align: center;
	position: fixed;
	top: 0;
}

p{
font-size: .75rem;	
}

a {
	text-decoration: none;
	color: rgb(59,59,59);
	margin-left: 10px;
	font-size: .75rem;
}

#title {
	margin-top: 20vh;
	font-size: 60pt;
	text-transform: uppercase;
	letter-spacing: 10px; 
	font-family: "BebasNeue-Bold";
}

#underline {
	border: solid #000 3px;
	width: 25%;
	border-bottom: none;
	margin: 10px auto;
	/* margin-top: 0px; */
	/* display: inline-flex; */
}

#who-i-am:after {
	content: '';
	font-size: 100%;
	animation: head 20s linear infinite;
	/* animation-name: head;
	animation-duration: 4s;
	animation-iteration-count: infinite; */
}


@keyframes head {
	0% {font-size:100%; opacity:1; content: "a full stack developer 👩🏻‍💻" }
	10% {font-size:100%; opacity:1; content: "a graphic Designer 👩🏻‍🎨" }
	20% {font-size:100%; opacity:1; content: "an entrepreneur 🦸🏻‍♀️" }
    30% {font-size:100%; opacity:1; content: "a crafter 👩🏻‍🏭"}
    40% {font-size:100%; opacity:1; content: "a wannabe Chef 👩🏻‍🍳"}
    50% {font-size:100%; opacity:1; content: "a party planner 🎉"}
    60% {font-size:100%; opacity:1; content: "a doggy lover 🐶"}
    70% {font-size:100%; opacity:1; content: "a taco lover 🌮"}
    80% {font-size:100%; opacity:1; content: "a meme creator 🧞‍♀️"}
    90% {font-size:100%; opacity:1; content: "a summer lovin` gal ☀️"}
    100% {font-size:100%; opacity:1; content: "Sarah Pai"}
}

.menu {
	font-size: 1em;
	font-weight: 300;
	top: 80vh;
	position: relative;
}

/* Footer */

#social-media {
	color: white;
}

#footer {
	background-color: rgb(234,172,171);
	position: fixed;
	width: 30%;
	/* padding: 10px; */
	bottom: 0;
	left: 0;
	padding: 3%;
}

/* Mobile menu bar */
#hamburger {
	border: solid #000 3px;
	width: 4%;
	border-bottom: none;
	margin: 2px;
}

#hamburger:nth-child(2){
	width: 2%;
}

#menu-mobile {

}

/* Desktop menu */
@media screen and (min-width: 700px) {
	#menu-mobile {
		display: none;
	}
}