.header {
	margin-left: 40%;
	font-size: 22pt;
	font-weight: 600;
	text-transform: uppercase;
}

#tech-header {
	display: inline-flex;
	font-family: "BebasNeue-Bold";
	font-size: 50pt;
}

#project-container .box:nth-child(1n+2) {
	margin-top: 5%;
}

/* #project-container:not(#project-number) {
	margin: 0px;
} */

/* #project-number {
	position: absolute;
	margin-left: 32vw;
	font-size: 90px;
	background-color: rgb(243,243,243);
	width: 10%;
} */


.box {
	margin-left: 40%;
  	width: 50%;
	height: 100%;
	padding: 50px;
	border-radius: 10px;
	background-color: rgb(235,235,235);
}

#project-number {
	margin: 0;
	font-weight: 600;	
}

.project-name {
	font-size: 1.5em;
	padding: 0px;
	position: relative;
	font-weight: 500;
	margin: 0;
}

.description {
	font-size: 1em;
	font-weight: 300;
	overflow: hidden;
	margin: 20px 0 20px 0;
}


section a {
	text-decoration: none;
	color: rgb(59,59,59);
	font-size: 1em;
	display: block;
	margin: 30px 0px 0px 0px;
}

section a:hover {
	color: white;
}
